.section__corusel {
  background: var(--bg-about);
  padding: 3rem 0;
}

.service--cart {
  background: #0f1623;
  backdrop-filter: blur(200px);
  border-radius: 10px;
  display: inline-block;
  width: 32%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
.disable {
  display: block;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}
.carousel-indicators {
  background: none;
  bottom: -25%;
}
.corousel--img {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.service--cart h4 {
  font-size: 1.7rem;
  color: #fff;
  text-align: center;
  margin: 0.6rem 0;
}
.service--cart p {
  font-size: 1.4rem;
  color: #ffffff;
  opacity: 0.7;
  margin: 1rem 0;
  text-align: center;
}
