.about--section {
  width: 100%;
  background: var(--bg-about);
}
.about--container {
  padding: 10rem 0;
}

.about--flex {
  display: flex;
  align-items: center;
  column-gap: 7rem;
}
.about--img {
  width: 825px;
}
.about--img img {
  width: 100%;
}
.about--info {
  padding: 2rem 5rem;
}
.about--info h2 {
  margin: 1.5rem 0;
}
.about--btn {
  padding: 1.2rem 2.8rem;
  margin: 2rem 0;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fff;
}

/* ================= MEDIA QUERY ================ */

@media only screen and (min-width: 0) and (max-width: 576px) {
  .about--flex {
    row-gap: 5rem;
    flex-direction: column;
  }
  .about--img {
    width: 100%;
  }
  .about--img > img {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: 80%;
  }
  .about--info {
    padding: 0;
  }
  .about--btn {
    padding: 1.2rem 2.8rem;
    margin: 2rem 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576.1px) and (max-width: 768px) {
  .about--flex {
    row-gap: 5rem;
    flex-direction: column;
  }
  .about--img {
    width: 100%;
  }
  .about--img > img {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: 80%;
  }
  .about--btn {
    padding: 1.2rem 2.8rem;
    margin: 2rem 0;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about--img {
    width: 86rem;
  }
  .about--img > img {
    width: 100%;
    height: 80%;
    transform: scale(1.02);
  }
}
