.footer--section {
  background: var(--bg--contact);
  padding: 3rem 0;
  width: 100%;
}
.footer-par {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #ffffff;
  opacity: 0.6;
}
.footer--span {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #ffffff;
}
.footer--section h6 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #ffffff;
}
.footer--par2 {
  font-weight: 450;
  font-size: 1.2rem;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
}
.footer--flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.footer--flex > ul {
  width: 15.5%;
}
.footer--flex > ul > li:first-child {
  margin-bottom: 1.5rem;
}
.footer--flex > ul > li {
  margin: 1.3rem 0;
}
.footer--right {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer--right-one img {
  width: 40px;
}
.footer--right-one h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 22px;
  margin: 0.7rem 0;
  color: #3a68b8;
}
.footer--right-two {
  padding-left: 0;
}
.footer--right-two li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.6rem 0;
}
.social--media {
  display: flex;
  margin-top: 2rem;
  gap: 1.2rem;
}
.choose--language {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.choose--language select {
  border: 1px solid #000;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  outline: none;
}
