:root {
  --bg-nav: #0b111f;
  --bg-home: #09101e;
  --bg-about: #030a18;
  --bg--cart: #11172415;
  --bg--contact: #09101d;
  --btn-color: rgba(58, 104, 184, 1);
  --border-radius: 5px;
}

.containers {
  width: 83%;
  margin: 0 auto;
}
.btn {
  background: var(--btn-color);
  border-radius: var(--border-radius);
  border: none;
  outline: none;
}
.general--parag {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}
.general--heading {
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 130%;
  color: #fff;
}
.app {
  width: 100vw;
  overflow-x: hidden;
}
